
<style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
</style>


<section class="h-[600px] flex items-center justify-center bg-no-repeat bg-cover bg-center" style="{{assets:background_image}} background-image: url( {{ glide:url w="1500" h="600" }}); {{ /assets:background_image}}"  >
    <div class="backdrop-blur-lg bg-white/40 py-8 px-12 flex flex-col items-center justify-center">
        <h1 class="text-5xl lg:text-7xl mb-2" style="font-family: 'Caveat Brush', cursive;">{{ title }}</h1>
        <h2 class="text-2xl lg:text-4xl">{{ subtitle }}</h2>
    </div>
</section>

