{{ partial:nav }}
{{ partial:hero }}


<section class="px-2 md:px-4 lg:px-6 xl:px-8 py-4 lg:py-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
    {{ collection:services }}
    <div class="">
        <img src="{{ glide:main_photo h='150' w='250' }}" class="w-full"/>
        <h2 class="text-2xl">{{ title }}</h2>
        <p class="">
            {{ if (description | length) > 200 }} {{description | substr:0:200 }}
                <span class="truncate-dots">...</span> 
                <span class="hidden more-text">{{description | substr:200 }}</span> 
                <button class="text-blue-500 read-more-btn">Read More</button>
                <button class="text-blue-500 read-less-btn hidden bg-orange-300">Read Less</button>
            {{ else }} 
                {{ description }} 
            {{/if}}
        </p>    
    </div>
    {{ /collection:services }}

    {{ collection:services }}
    <div class="">
        <img src="{{ glide:main_photo h='150' w='250' }}" class="w-full"/>
        <h2 class="text-2xl">{{ title }}</h2>
        <p class="">
            {{ if (description | length) > 200 }} {{description | substr:0:200 }}
                <span class="truncate-dots">...</span> 
                <span class="hidden more-text">{{description | substr:200 }}</span> 
                <button class="text-blue-500 read-more-btn">Read More</button>
                <button class="text-blue-500 read-less-btn hidden bg-orange-300">Read Less</button>
            {{ else }} 
                {{ description }} 
            {{/if}}
        </p>    
    </div>
    {{ /collection:services }}

    {{ collection:services }}
    <div class="">
        <img src="{{ glide:main_photo h='150' w='250' }}" class="w-full"/>
        <h2 class="text-2xl">{{ title }}</h2>
        <p class="">
            {{ if (description | length) > 200 }} {{description | substr:0:200 }}
                <span class="truncate-dots">...</span> 
                <span class="hidden more-text">{{description | substr:200 }}</span> 
                <button class="text-blue-500 read-more-btn">Read More</button>
                <button class="text-blue-500 read-less-btn hidden bg-orange-300">Read Less</button>
            {{ else }} 
                {{ description }} 
            {{/if}}
        </p>    
    </div>
    {{ /collection:services }}

    {{ collection:services }}
    <div class="">
        <img src="{{ glide:main_photo h='150' w='250' }}" class="w-full"/>
        <h2 class="text-2xl">{{ title }}</h2>
        <p class="">
            {{ if (description | length) > 200 }} {{description | substr:0:200 }}
                <span class="truncate-dots">...</span> 
                <span class="hidden more-text">{{description | substr:200 }}</span> 
                <button class="text-blue-500 read-more-btn">Read More</button>
                <button class="text-blue-500 read-less-btn hidden bg-orange-300">Read Less</button>
            {{ else }} 
                {{ description }} 
            {{/if}}
        </p>    
    </div>
    {{ /collection:services }}
</section>