@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Pontano Sans", sans-serif;
   */
  /* font-family: "Tilt Neon", cursive;
   */
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.heading__wrapper {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../public/pexels-pixabay-159711.jpg);
  object-fit: cover; */
  min-height: 100vh;
  width: 100%;
}
